setuptools==65.5.0
wheel

numpy<2
gym==0.25.2
gym-super-mario-bros==7.4.0
nes-py==8.2.1

torch
torchvision

gymnasium[accept-rom-license,other]
stable-baselines3
tyro
wandb

opencv-python-headless
matplotlib
pandas
pyyaml
tqdm
tensorboard
imageio
imageio-ffmpeg
